/spark/resources/data/1bd.csv
/spark/resources/data/2bd.csv
/spark/resources/data/3bd.csv
/spark/resources/data/4bd.csv
/spark/resources/data/5bd.csv
/spark/resources/data/A.csv
/spark/resources/data/AAL.csv
/spark/resources/data/AAP.csv
/spark/resources/data/AAPL.csv
/spark/resources/data/ABBV.csv
/spark/resources/data/ABC.csv
/spark/resources/data/ABMD.csv
/spark/resources/data/ABT.csv
/spark/resources/data/ACN.csv
/spark/resources/data/ADBE.csv
/spark/resources/data/ADI.csv
/spark/resources/data/ADM.csv
/spark/resources/data/ADP.csv
/spark/resources/data/ADSK.csv
/spark/resources/data/AEE.csv
/spark/resources/data/AEP.csv
/spark/resources/data/AES.csv
/spark/resources/data/AFL.csv
/spark/resources/data/AIG.csv
/spark/resources/data/airflow.cfg
/spark/resources/data/AIZ.csv
/spark/resources/data/AJG.csv
/spark/resources/data/AKAM.csv
/spark/resources/data/ALB.csv
/spark/resources/data/ALGN.csv
/spark/resources/data/ALK.csv
/spark/resources/data/ALL.csv
/spark/resources/data/ALLE.csv
/spark/resources/data/ALXN.csv
/spark/resources/data/AMAT.csv
/spark/resources/data/AMCR.csv
/spark/resources/data/AMD.csv
/spark/resources/data/AME.csv
/spark/resources/data/AMGN.csv
/spark/resources/data/AMP.csv
/spark/resources/data/AMT.csv
/spark/resources/data/AMZN.csv
/spark/resources/data/ANET.csv
/spark/resources/data/ANSS.csv
/spark/resources/data/ANTM.csv
/spark/resources/data/AON.csv
/spark/resources/data/AOS.csv
/spark/resources/data/APA.csv
/spark/resources/data/APD.csv
/spark/resources/data/APH.csv
/spark/resources/data/APTV.csv
/spark/resources/data/ARE.csv
/spark/resources/data/ATO.csv
/spark/resources/data/ATVI.csv
/spark/resources/data/AVB.csv
/spark/resources/data/AVGO.csv
/spark/resources/data/AVY.csv
/spark/resources/data/AWK.csv
/spark/resources/data/AXP.csv
/spark/resources/data/AZO.csv
/spark/resources/data/BA.csv
/spark/resources/data/BAC.csv
/spark/resources/data/BAX.csv
/spark/resources/data/BBY.csv
/spark/resources/data/BDX.csv
/spark/resources/data/BEN.csv
/spark/resources/data/BIIB.csv
/spark/resources/data/BIO.csv
/spark/resources/data/BK.csv
/spark/resources/data/BKNG.csv
/spark/resources/data/BKR.csv
/spark/resources/data/BLK.csv
/spark/resources/data/BLL.csv
/spark/resources/data/BMY.csv
/spark/resources/data/bottom_tier.csv
/spark/resources/data/BR.csv
/spark/resources/data/BSX.csv
/spark/resources/data/BWA.csv
/spark/resources/data/BXP.csv
/spark/resources/data/C.csv
/spark/resources/data/CAG.csv
/spark/resources/data/CAH.csv
/spark/resources/data/CARR.csv
/spark/resources/data/CAT.csv
/spark/resources/data/CB.csv
/spark/resources/data/CBOE.csv
/spark/resources/data/CBRE.csv
/spark/resources/data/CCI.csv
/spark/resources/data/CCL.csv
/spark/resources/data/CDNS.csv
/spark/resources/data/CDW.csv
/spark/resources/data/CE.csv
/spark/resources/data/CERN.csv
/spark/resources/data/CF.csv
/spark/resources/data/CFG.csv
/spark/resources/data/CHD.csv
/spark/resources/data/CHRW.csv
/spark/resources/data/CHTR.csv
/spark/resources/data/CI.csv
/spark/resources/data/CINF.csv
/spark/resources/data/CL.csv
/spark/resources/data/CLX.csv
/spark/resources/data/CMA.csv
/spark/resources/data/CMCSA.csv
/spark/resources/data/CME.csv
/spark/resources/data/CMG.csv
/spark/resources/data/CMI.csv
/spark/resources/data/CMS.csv
/spark/resources/data/CNC.csv
/spark/resources/data/CNP.csv
/spark/resources/data/COF.csv
/spark/resources/data/COG.csv
/spark/resources/data/condo.csv
/spark/resources/data/COO.csv
/spark/resources/data/COP.csv
/spark/resources/data/COST.csv
/spark/resources/data/covid_us_data.csv
/spark/resources/data/covid_world_data.csv
/spark/resources/data/CPB.csv
/spark/resources/data/CPRT.csv
/spark/resources/data/CRM.csv
/spark/resources/data/CSCO.csv
/spark/resources/data/CSX.csv
/spark/resources/data/CTAS.csv
/spark/resources/data/CTLT.csv
/spark/resources/data/CTSH.csv
/spark/resources/data/CTVA.csv
/spark/resources/data/CTXS.csv
/spark/resources/data/CVS.csv
/spark/resources/data/CVX.csv
/spark/resources/data/CZR.csv
/spark/resources/data/D.csv
/spark/resources/data/DAL.csv
/spark/resources/data/days_to_pending.csv
/spark/resources/data/DD.csv
/spark/resources/data/DE.csv
/spark/resources/data/DFS.csv
/spark/resources/data/DG.csv
/spark/resources/data/DGX.csv
/spark/resources/data/DHI.csv
/spark/resources/data/DHR.csv
/spark/resources/data/DIS.csv
/spark/resources/data/DISCA.csv
/spark/resources/data/DISCK.csv
/spark/resources/data/DISH.csv
/spark/resources/data/DLR.csv
/spark/resources/data/DLTR.csv
/spark/resources/data/DOV.csv
/spark/resources/data/DOW.csv
/spark/resources/data/DPZ.csv
/spark/resources/data/DRE.csv
/spark/resources/data/DRI.csv
/spark/resources/data/DTE.csv
/spark/resources/data/DUK.csv
/spark/resources/data/DVA.csv
/spark/resources/data/DVN.csv
/spark/resources/data/DXC.csv
/spark/resources/data/DXCM.csv
/spark/resources/data/EA.csv
/spark/resources/data/EBAY.csv
/spark/resources/data/ECL.csv
/spark/resources/data/ED.csv
/spark/resources/data/EFX.csv
/spark/resources/data/EIX.csv
/spark/resources/data/EL.csv
/spark/resources/data/EMN.csv
/spark/resources/data/EMR.csv
/spark/resources/data/ENPH.csv
/spark/resources/data/EOG.csv
/spark/resources/data/EQIX.csv
/spark/resources/data/EQR.csv
/spark/resources/data/ES.csv
/spark/resources/data/ESS.csv
/spark/resources/data/ETN.csv
/spark/resources/data/ETR.csv
/spark/resources/data/ETSY.csv
/spark/resources/data/EVRG.csv
/spark/resources/data/EW.csv
/spark/resources/data/EXC.csv
/spark/resources/data/EXPD.csv
/spark/resources/data/EXPE.csv
/spark/resources/data/EXR.csv
/spark/resources/data/F.csv
/spark/resources/data/FANG.csv
/spark/resources/data/FAST.csv
/spark/resources/data/FB.csv
/spark/resources/data/FBHS.csv
/spark/resources/data/FCX.csv
/spark/resources/data/FDX.csv
/spark/resources/data/FE.csv
/spark/resources/data/FFIV.csv
/spark/resources/data/FIS.csv
/spark/resources/data/FISV.csv
/spark/resources/data/FITB.csv
/spark/resources/data/FLIR.csv
/spark/resources/data/FLT.csv
/spark/resources/data/FMC.csv
/spark/resources/data/for_sale.csv
/spark/resources/data/FOX.csv
/spark/resources/data/FOXA.csv
/spark/resources/data/FRC.csv
/spark/resources/data/FRT.csv
/spark/resources/data/FTNT.csv
/spark/resources/data/FTV.csv
/spark/resources/data/GD.csv
/spark/resources/data/GE.csv
/spark/resources/data/GILD.csv
/spark/resources/data/GIS.csv
/spark/resources/data/GL.csv
/spark/resources/data/GLW.csv
/spark/resources/data/GM.csv
/spark/resources/data/GNRC.csv
/spark/resources/data/GOOG.csv
/spark/resources/data/GOOGL.csv
/spark/resources/data/GPC.csv
/spark/resources/data/GPN.csv
/spark/resources/data/GPS.csv
/spark/resources/data/GRMN.csv
/spark/resources/data/GS.csv
/spark/resources/data/GWW.csv
/spark/resources/data/HAL.csv
/spark/resources/data/HAS.csv
/spark/resources/data/HBAN.csv
/spark/resources/data/HBI.csv
/spark/resources/data/HCA.csv
/spark/resources/data/HD.csv
/spark/resources/data/HES.csv
/spark/resources/data/HFC.csv
/spark/resources/data/HIG.csv
/spark/resources/data/HII.csv
/spark/resources/data/HLT.csv
/spark/resources/data/HOLX.csv
/spark/resources/data/HON.csv
/spark/resources/data/housing_days_to_pending.csv
/spark/resources/data/housing_for_sale.csv
/spark/resources/data/housing_mean_price_cut.csv
/spark/resources/data/housing_median_list_price.csv
/spark/resources/data/housing_median_price_cut.csv
/spark/resources/data/housing_median_sale_price.csv
/spark/resources/data/HPE.csv
/spark/resources/data/HPQ.csv
/spark/resources/data/HRL.csv
/spark/resources/data/HSIC.csv
/spark/resources/data/HST.csv
/spark/resources/data/HSY.csv
/spark/resources/data/HUM.csv
/spark/resources/data/HWM.csv
/spark/resources/data/IBM.csv
/spark/resources/data/ICE.csv
/spark/resources/data/IDXX.csv
/spark/resources/data/IEX.csv
/spark/resources/data/IFF.csv
/spark/resources/data/ILMN.csv
/spark/resources/data/INCY.csv
/spark/resources/data/INFO.csv
/spark/resources/data/INTC.csv
/spark/resources/data/INTU.csv
/spark/resources/data/IP.csv
/spark/resources/data/IPG.csv
/spark/resources/data/IPGP.csv
/spark/resources/data/IQV.csv
/spark/resources/data/IR.csv
/spark/resources/data/IRM.csv
/spark/resources/data/ISRG.csv
/spark/resources/data/IT.csv
/spark/resources/data/ITW.csv
/spark/resources/data/IVZ.csv
/spark/resources/data/J.csv
/spark/resources/data/JBHT.csv
/spark/resources/data/JCI.csv
/spark/resources/data/JKHY.csv
/spark/resources/data/JNJ.csv
/spark/resources/data/JNPR.csv
/spark/resources/data/JPM.csv
/spark/resources/data/K.csv
/spark/resources/data/KEY.csv
/spark/resources/data/KEYS.csv
/spark/resources/data/KHC.csv
/spark/resources/data/KIM.csv
/spark/resources/data/KLAC.csv
/spark/resources/data/KMB.csv
/spark/resources/data/KMI.csv
/spark/resources/data/KMX.csv
/spark/resources/data/KO.csv
/spark/resources/data/KR.csv
/spark/resources/data/KSU.csv
/spark/resources/data/L.csv
/spark/resources/data/LB.csv
/spark/resources/data/LDOS.csv
/spark/resources/data/LEG.csv
/spark/resources/data/LEN.csv
/spark/resources/data/LH.csv
/spark/resources/data/LHX.csv
/spark/resources/data/LIN.csv
/spark/resources/data/LKQ.csv
/spark/resources/data/LLY.csv
/spark/resources/data/LMT.csv
/spark/resources/data/LNC.csv
/spark/resources/data/LNT.csv
/spark/resources/data/LOW.csv
/spark/resources/data/LRCX.csv
/spark/resources/data/LUMN.csv
/spark/resources/data/LUV.csv
/spark/resources/data/LVS.csv
/spark/resources/data/LW.csv
/spark/resources/data/LYB.csv
/spark/resources/data/LYV.csv
/spark/resources/data/MA.csv
/spark/resources/data/MAA.csv
/spark/resources/data/MAR.csv
/spark/resources/data/MAS.csv
/spark/resources/data/MCD.csv
/spark/resources/data/MCHP.csv
/spark/resources/data/MCK.csv
/spark/resources/data/MCO.csv
/spark/resources/data/MDLZ.csv
/spark/resources/data/MDT.csv
/spark/resources/data/mean_price_cut.csv
/spark/resources/data/median_list_price.csv
/spark/resources/data/median_price_cut.csv
/spark/resources/data/median_sale_price.csv
/spark/resources/data/MET.csv
/spark/resources/data/MGM.csv
/spark/resources/data/MHK.csv
/spark/resources/data/mid_tier.csv
/spark/resources/data/MKC.csv
/spark/resources/data/MKTX.csv
/spark/resources/data/MLM.csv
/spark/resources/data/MMC.csv
/spark/resources/data/MMM.csv
/spark/resources/data/MNST.csv
/spark/resources/data/MO.csv
/spark/resources/data/MOS.csv
/spark/resources/data/MPC.csv
/spark/resources/data/MPWR.csv
/spark/resources/data/MRK.csv
/spark/resources/data/MRO.csv
/spark/resources/data/MS.csv
/spark/resources/data/MSCI.csv
/spark/resources/data/MSFT.csv
/spark/resources/data/MSI.csv
/spark/resources/data/MTB.csv
/spark/resources/data/MTD.csv
/spark/resources/data/MU.csv
/spark/resources/data/MXIM.csv
/spark/resources/data/NCLH.csv
/spark/resources/data/NDAQ.csv
/spark/resources/data/NEE.csv
/spark/resources/data/NEM.csv
/spark/resources/data/NFLX.csv
/spark/resources/data/NI.csv
/spark/resources/data/NKE.csv
/spark/resources/data/NLOK.csv
/spark/resources/data/NLSN.csv
/spark/resources/data/NOC.csv
/spark/resources/data/NOV.csv
/spark/resources/data/NOW.csv
/spark/resources/data/NRG.csv
/spark/resources/data/NSC.csv
/spark/resources/data/NTAP.csv
/spark/resources/data/NTRS.csv
/spark/resources/data/NUE.csv
/spark/resources/data/NVDA.csv
/spark/resources/data/NVR.csv
/spark/resources/data/NWL.csv
/spark/resources/data/NWS.csv
/spark/resources/data/NWSA.csv
/spark/resources/data/NXPI.csv
/spark/resources/data/O.csv
/spark/resources/data/ODFL.csv
/spark/resources/data/OKE.csv
/spark/resources/data/OMC.csv
/spark/resources/data/ORCL.csv
/spark/resources/data/ORLY.csv
/spark/resources/data/OTIS.csv
/spark/resources/data/OXY.csv
/spark/resources/data/PAYC.csv
/spark/resources/data/PAYX.csv
/spark/resources/data/PBCT.csv
/spark/resources/data/PCAR.csv
/spark/resources/data/PEAK.csv
/spark/resources/data/PEG.csv
/spark/resources/data/PENN.csv
/spark/resources/data/PEP.csv
/spark/resources/data/PFE.csv
/spark/resources/data/PFG.csv
/spark/resources/data/PG.csv
/spark/resources/data/PGR.csv
/spark/resources/data/PH.csv
/spark/resources/data/PHM.csv
/spark/resources/data/PKG.csv
/spark/resources/data/PKI.csv
/spark/resources/data/PLD.csv
/spark/resources/data/PM.csv
/spark/resources/data/PNC.csv
/spark/resources/data/PNR.csv
/spark/resources/data/PNW.csv
/spark/resources/data/POOL.csv
/spark/resources/data/PPG.csv
/spark/resources/data/PPL.csv
/spark/resources/data/PRGO.csv
/spark/resources/data/PRU.csv
/spark/resources/data/PSA.csv
/spark/resources/data/PSX.csv
/spark/resources/data/PVH.csv
/spark/resources/data/PWR.csv
/spark/resources/data/PXD.csv
/spark/resources/data/PYPL.csv
/spark/resources/data/QCOM.csv
/spark/resources/data/QRVO.csv
/spark/resources/data/RCL.csv
/spark/resources/data/RE.csv
/spark/resources/data/REG.csv
/spark/resources/data/REGN.csv
/spark/resources/data/RF.csv
/spark/resources/data/RHI.csv
/spark/resources/data/RJF.csv
/spark/resources/data/RL.csv
/spark/resources/data/RMD.csv
/spark/resources/data/ROK.csv
/spark/resources/data/ROL.csv
/spark/resources/data/ROP.csv
/spark/resources/data/ROST.csv
/spark/resources/data/RSG.csv
/spark/resources/data/RTX.csv
/spark/resources/data/SBAC.csv
/spark/resources/data/SBUX.csv
/spark/resources/data/SCHW.csv
/spark/resources/data/SEE.csv
/spark/resources/data/SHW.csv
/spark/resources/data/single_family.csv
/spark/resources/data/SIVB.csv
/spark/resources/data/SJM.csv
/spark/resources/data/SLB.csv
/spark/resources/data/SNA.csv
/spark/resources/data/SNPS.csv
/spark/resources/data/SO.csv
/spark/resources/data/SPG.csv
/spark/resources/data/SPGI.csv
/spark/resources/data/SRE.csv
/spark/resources/data/STE.csv
/spark/resources/data/stocks_sp_500
/spark/resources/data/stocks_sp_500.csv
/spark/resources/data/STT.csv
/spark/resources/data/STX.csv
/spark/resources/data/STZ.csv
/spark/resources/data/SWK.csv
/spark/resources/data/SWKS.csv
/spark/resources/data/SYF.csv
/spark/resources/data/SYK.csv
/spark/resources/data/SYY.csv
/spark/resources/data/T.csv
/spark/resources/data/TAP.csv
/spark/resources/data/TDG.csv
/spark/resources/data/TDY.csv
/spark/resources/data/TEL.csv
/spark/resources/data/TER.csv
/spark/resources/data/TFC.csv
/spark/resources/data/TFX.csv
/spark/resources/data/TGT.csv
/spark/resources/data/TJX.csv
/spark/resources/data/TMO.csv
/spark/resources/data/TMUS.csv
/spark/resources/data/top_tier.csv
/spark/resources/data/TPR.csv
/spark/resources/data/TRMB.csv
/spark/resources/data/TROW.csv
/spark/resources/data/TRV.csv
/spark/resources/data/TSCO.csv
/spark/resources/data/TSLA.csv
/spark/resources/data/TSN.csv
/spark/resources/data/TT.csv
/spark/resources/data/TTWO.csv
/spark/resources/data/TWTR.csv
/spark/resources/data/TXN.csv
/spark/resources/data/TXT.csv
/spark/resources/data/TYL.csv
/spark/resources/data/UA.csv
/spark/resources/data/UAA.csv
/spark/resources/data/UAL.csv
/spark/resources/data/UDR.csv
/spark/resources/data/UHS.csv
/spark/resources/data/ULTA.csv
/spark/resources/data/Unemployment_By_Education_Level.json
/spark/resources/data/Unemployment_By_Industry.json
/spark/resources/data/Unemployment_By_Race.json
/spark/resources/data/Unemployment_By_State_0.json
/spark/resources/data/Unemployment_By_State_25.json
/spark/resources/data/Unemployment_By_State_50.json
/spark/resources/data/UNH.csv
/spark/resources/data/United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv
/spark/resources/data/UNM.csv
/spark/resources/data/UNP.csv
/spark/resources/data/UPS.csv
/spark/resources/data/URI.csv
/spark/resources/data/USB.csv
/spark/resources/data/V.csv
/spark/resources/data/VAR.csv
/spark/resources/data/VFC.csv
/spark/resources/data/VIAC.csv
/spark/resources/data/VLO.csv
/spark/resources/data/VMC.csv
/spark/resources/data/VNO.csv
/spark/resources/data/VRSK.csv
/spark/resources/data/VRSN.csv
/spark/resources/data/VRTX.csv
/spark/resources/data/VTR.csv
/spark/resources/data/VTRS.csv
/spark/resources/data/VZ.csv
/spark/resources/data/WAB.csv
/spark/resources/data/WAT.csv
/spark/resources/data/WBA.csv
/spark/resources/data/WDC.csv
/spark/resources/data/WEC.csv
/spark/resources/data/WELL.csv
/spark/resources/data/WFC.csv
/spark/resources/data/WHR.csv
/spark/resources/data/WLTW.csv
/spark/resources/data/WM.csv
/spark/resources/data/WMB.csv
/spark/resources/data/WMT.csv
/spark/resources/data/WRB.csv
/spark/resources/data/WRK.csv
/spark/resources/data/WST.csv
/spark/resources/data/WU.csv
/spark/resources/data/WY.csv
/spark/resources/data/WYNN.csv
/spark/resources/data/XEL.csv
/spark/resources/data/XLNX.csv
/spark/resources/data/XOM.csv
/spark/resources/data/XRAY.csv
/spark/resources/data/XYL.csv
/spark/resources/data/YUM.csv
/spark/resources/data/ZBH.csv
/spark/resources/data/ZBRA.csv
/spark/resources/data/ZION.csv
/spark/resources/data/ZTS.csv
