#DB Connection
[MYSQL]
HOST=
#
#192.168.0.16
#
#
#
#
#
PORT=3306
#32001

#3306
USER=root
PASSWORD=Mi4man11
DATABASE=covid_economy_impact
DRIVER=com.mysql.cj.jdbc.Driver

#DATABASE
[COVID]
COVID_US_DATA=https://data.cdc.gov/api/views/9mfq-cb36/rows.csv?accessType=DOWNLOAD
COVID_WORLD_DATA=https://covid.ourworldindata.org/data/owid-covid-data.csv


[HOUSING_PRICE]
MID_TIER=http://files.zillowstatic.com/research/public_v2/zhvi/City_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv
TOP_TIER=http://files.zillowstatic.com/research/public_v2/zhvi/City_zhvi_uc_sfrcondo_tier_0.67_1.0_sm_sa_mon.csv
BOTTOM_TIER=http://files.zillowstatic.com/research/public_v2/zhvi/City_zhvi_uc_sfrcondo_tier_0.0_0.33_sm_sa_mon.csv
SINGLE_FAMILY=http://files.zillowstatic.com/research/public_v2/zhvi/City_zhvi_uc_sfr_tier_0.33_0.67_sm_sa_mon.csv
CONDO=http://files.zillowstatic.com/research/public_v2/zhvi/City_zhvi_uc_condo_tier_0.33_0.67_sm_sa_mon.csv
1BD=http://files.zillowstatic.com/research/public_v2/zhvi/City_zhvi_bdrmcnt_1_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv
2BD=http://files.zillowstatic.com/research/public_v2/zhvi/City_zhvi_bdrmcnt_2_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv
3BD=http://files.zillowstatic.com/research/public_v2/zhvi/City_zhvi_bdrmcnt_3_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv
#4BD=http://files.zillowstatic.com/research/public_v2/zhvi/City_zhvi_bdrmcnt_4_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv
#5BD=http://files.zillowstatic.com/research/public_v2/zhvi/City_zhvi_bdrmcnt_5_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv


[HOUSING_INVENTORY]
FOR_SALE=http://files.zillowstatic.com/research/public_v2/invt_fs/Metro_invt_fs_uc_sfrcondo_smoothed_month.csv
DAYS_TO_PENDING=http://files.zillowstatic.com/research/public_v2/med_doz_pending/Metro_med_doz_pending_uc_sfrcondo_smoothed_monthly.csv
MEDIAN_SALE_PRICE=http://files.zillowstatic.com/research/public_v2/median_sale_price/Metro_median_sale_price_uc_SFRCondo_sm_sa_month.csv
MEDIAN_LIST_PRICE=http://files.zillowstatic.com/research/public_v2/mlp/Metro_mlp_uc_sfrcondo_smoothed_month.csv
MEAN_PRICE_CUT=http://files.zillowstatic.com/research/public_v2/mean_listings_price_cut_amt/Metro_mean_listings_price_cut_amt_uc_sfrcondo_raw_month.csv
MEDIAN_PRICE_CUT=http://files.zillowstatic.com/research/public_v2/med_listings_price_cut_amt/Metro_med_listings_price_cut_amt_uc_sfrcondo_raw_month.csv


[HOUSING_RENTAL]
HOUSING_RENTAL_ALL_HOMES=http://files.zillowstatic.com/research/public_v2/zori/Metro_ZORI_AllHomesPlusMultifamily_SSA.csv

[UNEMPLOYMENT]
UNEMPLOYMENT_BY_RACE=unemployment_By_Race_raw
UNEMPLOYMENT_BY_EDUCATION_LEVEL=unemployment_By_Education_Level_raw
UNEMPLOYMENT_BY_INDUSTRY=unemployment_By_Industry_raw
UNEMPLOYMENT_BY_STATE_0=unemployment_rate_by_state_raw
UNEMPLOYMENT_BY_STATE_25=unemployment_rate_by_state_raw
UNEMPLOYMENT_BY_STATE_50=unemployment_rate_by_state_raw

[STOCKS]
STOCKS_SP_500=https://datahub.io/core/s-and-p-500-companies/r/constituents.csv


[RAW]
COVID_US_DATA=covid_usa_raw
COVID_WORLD_DATA =covid_world_raw
1BD=1bd_raw
2BD=2bd_raw
3BD=3bd_raw
4BD=4bd_raw
5BD=5bd_raw
MID_TIER=mid_tier_raw
TOP_TIER=top_tier_raw
BOTTOM_TIER=bottom_tier_raw
SINGLE_FAMILY=single_family_raw
CONDO=condo_raw
FOR_SALE=housing_for_sale_raw
DAYS_TO_PENDING=housing_days_to_pending_raw
MEDIAN_SALE_PRICE=housing_median_sale_price_raw
MEDIAN_LIST_PRICE=housing_median_list_price_raw
MEAN_PRICE_CUT=housing_mean_price_cut_raw
MEDIAN_PRICE_CUT=housing_median_price_cut_raw
UNEMPLOYMENT_BY_RACE=unemployment_by_race_raw
UNEMPLOYMENT_BY_EDUCATION_LEVEL=unemployment_by_education_level_raw
UNEMPLOYMENT_BY_INDUSTRY=unemployment_by_industry_raw
UNEMPLOYMENT_BY_STATE_0=unemployment_rate_by_state_raw
UNEMPLOYMENT_BY_STATE_25=unemployment_rate_by_state_raw
UNEMPLOYMENT_BY_STATE_50=unemployment_rate_by_state_raw
STOCKS=stocks_raw


[DIMS]
DATE_DIM=covid_date_dim
STATE_DIM=state_dim
COUNTRY_DETAILS_DIM=country_details_dim
COUNTRY_DIM=country_dim
HOUSING_DATE_DIM=housing_date_dim
CITY_DIM=city_dim
COUNTY_DIM=county_dim
METRO_DIM=metro_dim
HOUSING_DIMS_LOADED=1
COVID_DIMS_LOADED=False
UNEMPLOYMENT_DIMS_LOADED=False
UNEMPLOYMENT_BY_RACE=unemployment_By_Race_raw
UNEMPLOYMENT_BY_EDUCATION_LEVEL=unemployment_By_Education_Level
UNEMPLOYMENT_BY_INDUSTRY=unemployment_By_Industry
UNEMPLOYMENT_BY_STATE=unemployment_rate_by_state_raw
UNEMPLOYMENT_SERIES_DIM=unemployment_series__dim
STOCKS_DIM=stocks_dim

[FACTS]
COVID_US_DATA=covid_usa_fact
COVID_WORLD_DATA=covid_world_fact
HOUSING_PRICE=home_prices_fact
HOUSING_INVENTORY=home_inventory_sales_fact
UNEMPLOYMENT_BY_EDUCATION_LEVEL=unemployment_by_education_level_fact
UNEMPLOYMENT_BY_RACE=unemployment_by_race_fact
UNEMPLOYMENT_BY_INDUSTRY=unemployment_by_industry_fact
UNEMPLOYMENT_BY_STATE=unemployment_rate_by_state_fact
UNEMPLOYMENT_BY_STATE_0=unemployment_rate_by_state_fact
UNEMPLOYMENT_BY_STATE_25=unemployment_rate_by_state_fact
UNEMPLOYMENT_BY_STATE_50=unemployment_rate_by_state_fact
STOCKS=stock_prices_fact



[GLOBAL]
META_DATA_TABLE=metadata

[ANALYTICS]
STOCKS=stocks_monthly
COVID_WORLD=covid_world_monthly
COVID_USA=covid_usa_monthly
HOUSING=housing_monthly
UNEMPLOYMENT=unemployment_monthly
